# dependencias usadas hasta ahora
python-dotenv
langgraph
langchain
langchain-openai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-telegram-bot


uvicorn==0.34.0

fastapi
requests
